.main {
  margin-top: 3.75rem;
  padding-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .main {
    padding-top: 4rem;
  }
}
